<div class="cardWrapper">
  <h4 *ngIf="productsInCategory.length === 0">There's no items in this category.</h4>
  <div (click)="togglePopUp(product)" class="card" *ngFor="let product of productsInCategory">
    <img class="cardImg" src="https://image.zootlab.cz/cache2/scale/1908x2562/000/000/004/494/4494029.jpeg">
    <div class="cardText">
      <p class="title">{{product?.name}}</p>
      <p class="description">{{product?.description}}</p>
      <p class="price">{{product?.price}} $</p>
    </div>
  </div>

  <div id="cardPopUp">
    <div id="cardPopUpInner">
      <div id="selectedProductImg"></div>
      <div id="selectedProductContent">
        <p class="title">{{selectedProduct?.name}}</p>
        <p class="description">{{selectedProduct?.description}}</p>
        <p class="price">{{selectedProduct?.price}} $</p>
        <button (click)="toCart.emit(selectedProduct)" id="addToCart">Add to Cart</button>
      </div>
      <div (click)="togglePopUp(selectedProduct)" id="closePopUp"></div>
    </div>
  </div>
