<div class="wrapper">
  <div class="container">
    <app-header [productsInCart]="productsInCart" (showCart)="showCart()"></app-header>
    <app-aside-left [activeCategory]="activeCategory" [categories]="categories" (eventHandle)="changeCategory($event)">
    </app-aside-left>
    <app-card [activeCategoryId]="activeCategoryId" [productsInCategory]="productsInCategory"
      [productsInCart]="productsInCart" (toCart)="addToCart($event)"></app-card>
  </div>
  <app-cart [productsInCart]="productsInCart" [cartVisibility]="cartVisibility" (showCart)="showCart()"></app-cart>
</div>
